/* #region DASHBOARD */

.dashboard {
  width: 100%;
  height: calc(100vh - 190px);

  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  overflow: hidden;

  box-sizing: border-box;
}

.dashboard__wrapper {
  flex: 1;
  overflow: auto;
  padding-right: 1rem;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  border: 2px dashed green;

  min-height: 0;
  max-height: 100%;
}

/* #region TABELA DEMO */
.dashboard__table-wrapper {
  min-width: 100%;
  overflow: hidden;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.dashboard__table {
  min-width: 100%; /* ou 100% se preferir forçar ela a caber */
  border-collapse: collapse;
  font-size: 0.85rem;
}

.dashboard__table th,
.dashboard__table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

.dashboard__table th {
  background-color: #f5f5f5;
}

.dashboard__title {
  margin-bottom: 1rem;
}
/*#endregion*/

/*#endregion*/
